{% extends 'base.html.twig' %}

{% block title %}New VoyageVirtuel{% endblock %}

{% block body %}
    <h1>Create new VoyageVirtuel</h1>

    {{ include('voyage_virtue_l_front/_form.html.twig') }}

    <a href="{{ path('app_voyage_virtue_l_front_index') }}">back to list</a>
{% endblock %}
