{% extends 'base.html.twig' %}

{% block title %}Edit Hotel{% endblock %}

{% block body %}
    <h1>Edit Hotel</h1>

    {{ include('hotels/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_hotels_index') }}">back to list</a>

    {{ include('hotels/_delete_form.html.twig') }}
{% endblock %}
