{% extends 'base.html.twig' %}

{% block title %}New Hotel{% endblock %}

{% block body %}
    <h1>Create new Hotel</h1>

    {{ include('hotels/_form.html.twig') }}

    <a href="{{ path('app_hotels_index') }}">back to list</a>
{% endblock %}
