{% extends 'base.html.twig' %}

{% block title %}Edit Voyage ORG{% endblock %}

{% block body %}
 <br><br>
    {{ include('voyage_organise/_edit_form.html.twig', {'button_label': 'Save'}) }}
<br>
    
        <button class="btn btn-warning" ><a href="{{ path('app_voyage_organise_index') }}" style="text-decoration:none;color:white"> Retour</a></button>

<br>
{% endblock %}
