 {% extends "base.html.twig" %} 
  {% block body%}


    {{ include('voyage_organise/_form.html.twig') }}
<br>
        <button class="btn btn-warning" ><a href="{{ path('app_voyage_organise_index') }}" style="text-decoration:none;color:white"> Retour</a></button>


{% endblock %}

