{% extends 'base.html.twig' %}
{% block body %}
<h1>login</h1>
<form  action=" {{ path('security_login') }}" method="post">

    <h3><label for="email">  email</label></h3>
    <input  type="text" required name="_username"  >

    <h3><label for="password">Password</label></h3>
    <input  type="password"  required name="_password" >

    <label>
 

    <button type="submit" >Login</button>

</form>


{% endblock %}