{% extends 'base.front.html.twig' %}

{% block title %}stream{% endblock %}

{% block body %}


    <main id="main" class="main">
        <h1>Enjoy the live stream</h1>

        <iframe width="1300" height="510"
                src="https://www.youtube.com/embed/{{voyage_virtuel.video}}">
        </iframe>
    </main>


    </main>

{% endblock %}
