<form method="post" action="{{ path('app_voyage_delete', {'idv': voyage.idv}) }}" onsubmit="return confirm('Vous êtes sure de supprimer cet voyage ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ voyage.idv) }}">
    <button class="btn btn-xs btn3d" style="width:10%"> <a ><i class="fa fa-trash"></i></a></button>
</form>
 