{% extends 'base.html.twig' %}
 
{% block title %}New Voyage{% endblock %}

{% block body %}
 <br><br>
    {{ include('voyage/_form.html.twig', {'button_label': 'Add'}) }}
<br>
    
  <a href="{{ path('app_voyage_index') }}" style="text-decoration:none;color:white">      <button class="btn btn-warning" > Retour</button></a>

<br>
{% endblock %}
